@import 'tailwindcss';

:root {
  /* ---- COLORS (raw palette only) ---- */
  --color-purple-4: #ab94ff;
  --color-purple-6: #5f33e1;

  --color-blue-1: #eee9ff;
  --color-blue-2: #e7f3ff;
  --color-blue-6: #0087ff;

  --color-orange-1: #ffe9e1;
  --color-orange-6: #ff7d53;

  --color-pink-1: #ffe4f2;
  --color-pink-6: #f478b8;

  --color-gray-1: #f5f3ff;
  --color-gray-2: #ede8ff;
  --color-gray-6: #6e6a7c;
  --color-gray-8: #24252c;

  --color-black: #000000;
  --color-white: #ffffff;

  /* ---- TYPOGRAPHY ---- */
  --font-size-1: 11px;
  --font-size-2: 14px;
  --font-size-3: 16px; /* body */
  --font-size-4: 19px;
  --font-size-5: 24px;
  --font-size-6: 33px;
  --font-size-7: 44px;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;

  --line-height-1: 1.2;
  --line-height-2: 1.25;
  --line-height-3: 1.3;
  --line-height-4: 1.45;
  --line-height-5: 1.6;
  --line-height-6: 1.7;

  /* ---- RADII ---- */
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-full: 9999px;

  /* ---- SHADOWS ---- */
  --drop-shadow-primary-sm: 0px 6px 6px 0 rgb(95 51 225 / 0.35);
  --drop-shadow-primary-md: 2px 10px 18px 0 rgb(95 51 225 / 0.49);
  --drop-shadow-neutral-sm: 0px 4px 32px rgb(0 0 0 / 0.04);
  --drop-shadow-blue-sm: 0px 10px 20px rgb(36 83 255 / 0.2);

  --shadow-sm: 0px 1px 2px rgb(0 0 0 / 0.06);
  --shadow-md: 0px 4px 6px rgb(0 0 0 / 0.1);
  --shadow-lg: 0px 10px 15px rgb(0 0 0 / 0.15);

  /* ---- SPACING ---- */
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 6px;
  --space-4: 8px;
  --space-5: 12px;
  --space-6: 16px;
  --space-7: 20px;
  --space-8: 24px;
  --space-9: 32px;
  --space-10: 40px;
  --space-11: 48px;
  /* ---- OPACITY  Optional but recommended.---- */
  /* ---- Z-INDEX Optional but recommended for consistent layering.---- */
  /* ---- TRANSITION This matters for micro-interactions.---- */
}

@theme inline {
  --font-lexend: var(--font-lexend);
}

@theme {
  /* ---- COLORS ---- */
  --color-primary: var(--color-purple-6); /* choose the primary shade */
  --color-primary-weak: var(--color-purple-4);

  --color-bg-default: var(--color-white);
  --color-surface: var(--color-gray-1);
  --color-muted: var(--color-gray-2);
  --color-text-default: var(--color-gray-8);
  --color-text-muted: var(--color-gray-6);
  --color-black: var(--color-black);
  --color-white: var(--color-white);

  --color-blue-extra-light: var(--color-blue-1);
  --color-blue-light: var(--color-blue-2);
  --color-blue: var(--color-blue-6);

  --color-orange-light: var(--color-orange-1);
  --color-orange: var(--color-orange-6);

  --color-pink-light: var(--color-pink-1);
  --color-pink: var(--color-pink-6);

  /* ---- TYPOGRAPHY ---- */
  --text-body-xs: var(--font-size-1);
  --text-body-sm: var(--font-size-2);
  --text-body-base: var(--font-size-3);
  --text-body-lg: var(--font-size-4);
  --text-heading-sm: var(--font-size-4);
  --text-heading-md: var(--font-size-5);
  --text-heading-lg: var(--font-size-6);
  --text-heading-xl: var(--font-size-7);

  --font-weight-body-regular: var(--font-weight-regular);
  --font-weight-body-semibold: var(--font-weight-semibold);
  --font-weight-heading-regular: var(--font-weight-regular);
  --font-weight-heading-semibold: var(--font-weight-semibold);

  --leading-body-xs: var(--line-height-6);
  --leading-body-sm: var(--line-height-5);
  --leading-body-md: var(--line-height-4);
  --leading-body-lg: var(--line-height-3);
  --leading-heading-sm: var(--line-height-3);
  --leading-heading-md: var(--line-height-2);
  --leading-heading-lg: var(--line-height-1);

  /* ---- RADII ---- */
  --radius-progress-bar: var(--radius-sm);
  --radius-icon-bg: var(--radius-lg);
  --radius-task-card-status: var(--radius-lg);
  --radius-button-sm: var(--radius-lg);
  --radius-button-lg: var(--radius-2xl);
  --radius-card: var(--radius-2xl);
  --radius-date-card: var(--radius-2xl);
  --radius-input: var(--radius-2xl);
  --radius-nav: var(--radius-3xl);
  --radius-circle: var(--radius-full);

  /* ---- SPACINGS ---- */
  --spacing-py-button-large: var(--space-6);
  --spacing-px-button-large: var(--space-8);
  --spacing-py-button-small: var(--space-4);
  --spacing-px-button-small: var(--space-7);

  --spacing-mx-page: var(--space-7);
  --spacing-mt-page: var(--space-8);
  --spacing-mb-page-title: var(--space-9);

  --spacing-mb-section: var(--space-8);
  --spacing-mb-section-heading: var(--space-6);
  --spacing-gap-x-projects: var(--space-6);
  --spacing-gap-x-tasks-filters: var(--space-4);
  --spacing-gap-x-date-cards: var(--space-5);
  --spacing-p-task-card: var(--space-6);
  --spacing-p-input: var(--space-4);
  --spacing-p-select-option: var(--space-6);
  --spacing-py-nav: var(--space-6);
  --spacing-px-nav: var(--space-9);
  --spacing-py-date-card: var(--space-4);
  --spacing-px-date-card: var(--space-7);

  /* ---- DROP SHADOWS ---- */
  --drop-shadow-button-add: var(--drop-shadow-primary-md);
  --drop-shadow-active-nav-button: var(--drop-shadow-primary-sm);
  --drop-shadow-card: var(--drop-shadow-neutral-sm);
  --drop-shadow-button-large: var(--drop-shadow-blue-sm);
}

@layer components {
  .btn {
    /*
    Because you’ll eventually add:
    disabled variant
    hover/focus states
    primary/secondary colors
    active shadow
    transitions 
    And you don’t want to repeat that.
*/
    @apply font-body-semibold text-body-lg cursor-pointer;
  }

  .btn-lg {
    @apply w-full px-px-button-large py-py-button-large rounded-button-lg drop-shadow-button-large;
  }

  .btn-sm {
    @apply px-px-button-small py-py-button-small rounded-button-sm;
  }

  .btn-primary {
    @apply bg-primary text-white;

    @variant disabled {
    }
    @variant hover {
    }
    @variant active {
    }
  }

  .btn-outline {
  }

  .input {
    @apply p-p-input rounded-input drop-shadow-card;

    @variant hover {
    }
    @variant focus {
    }
  }

  .options-list {
    @apply transition-all duration-150 ease-in-out;
  }

  .select-option {
    @apply p-p-select-option cursor-pointer border-t-black border-t-2;
  }

  .input-label {
    @apply text-body-sm text-text-muted;
  }

  .date-card {
    @apply py-py-date-card px-px-date-card rounded-date-card;
  }

  .card {
    @apply p-p-task-card rounded-card drop-shadow-card;
  }

  .progress::-webkit-progress-bar {
    @apply bg-white rounded-progress-bar rounded-l-lg h-1.5;
  }

  .progress::-webkit-progress-value {
    @apply bg-blue rounded-progress-bar;
  }
}

@layer utilities {
  .outer-shadow {
    box-shadow:
      6px 6px 10px 1px rgb(0 0 0 / 0.15),
      -6px -6px 10px 1px rgb(255 255 255 / 0.7);
  }

  .outer-shadow {
    box-shadow:
      inset 4px 4px 6px -1px rgb(0 0 0 / 0.2),
      inset -4px -4px 6px -1px rgb(255 255 255 / 0.7),
      0.5px 0.5px 0px rgb(0 0 0 / 0.15),
      0px 12px 10px -10px rgb(0 0 0 / 0.05);
  }

  .stroke-dash {
    stroke-dasharray: 450px;
    stroke-dashoffset: 100px;
  }
}
